# Hello World

- `print` function is used to print the content inside the quotes 
- can be in 'single quotes' or "double quotes"

In [1]:
 print("Hello World")

Hello World

### What just happened? 

-  when you run Python code
    - the computer interprets the code and executes it 

- `print` is a function which will display whatever is provided in brackets 
    - in case of a mathematical expression, the result is evaluated and displayed
    - if there is a string, it is simply displayed 

- there are many such functions in Python built for specifc tasks
    - simply call the function and give it an input

- `type` is another such function  
    - it displays the type of the data provided in brackets

#### Alright!

Let's see you run a python code now , 

### Excercise : 1

Write a print function that prints **"I am new to python!"**



---

# Help Command

- shows the description about the object that is given to the command
- lets see how the `help()` command works for the `print()` command

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Comments

- comments are text in code that is not executed by the interpreter 
  - in Python, comments begin with `#`
- comments may be used creatively to comment out pieces of code to stop the interpreter from running it
- shortcut to toggle comment on a line 
  - `CMD + /` (macOS) 
  - `Ctrl + /` (Windows)

In [3]:
# this is a single comment
print('this is not a comment')

# comments can be added like this as well
"""
This is a 
multi-line comment
"""
print("this is not a comment either")

this is not a comment
this is not a comment either

#### Now, let's try to write our own comments 

### Excercise : 2

To the program where you printed out `I am Learning python`

Add a comment `It is possible to write within my code blocks without python using #`

# Variables

- data entities that takes a value

In [4]:
# bind number 7 to variable 'x'
x = 7 # the value of 7 is assigned to x 

# print value of 'x'
print(x)

7

### Python Variable Naming Convention (Industry Standard)

- variables names start with a lowercase letter or underscore 
  - can be followed by numbers or underscore
- `snake_case` is the conventional way of writing variable names with multiple words
- variable names cannot begin with a number but numers can be a part of the variable name later
    - eg: names like: `va923`, `_app4r_`, `f8_9`, `tmp`; are allowed
    - eg: names like: `9va23`, `#app4r_`, `f8-9`, `tm*p`; are **NOT** allowed

#### Let's try making a variable that contains your name then print it !

### Excercise : 3 

Create a variable as called `age` and add your age to it 

Next print out your age in your notebook !

# Simple Program 

- *input*: uses the `input` command
- *output*: used the `print` command

In [5]:
name = input('What is your name? ')
print('Welcome to the world of Python,', name )

What is your name? Piyush
Welcome to the world of Python, Piyush

#### Let's create input function that not only takes the name of the user but also their age and then let's print it 

### Excercise : 4

Create two inputs with one taking the `name` and the other taking the `age`

And then print out `Hey <name> I am glad you started learning python at the age of <age>`

In [8]:
name = input('what is your name? ')
age = input('Enter your age: ')
print("Hey",name,"I am glad you started learning python at the age of",age)

what is your name? Piyush
Enter your age: 12
Hey Piyush I am glad you started learning python at the age of 12



---

# Data Types

- a particular kind of data entity, defined by the values it can take

- Python has several built-in data types, some of them are:
  - *numeric* data types
  - *text sequence* data type
  - *sequence* data types
  - *mapping* data type
  - *boolean* data type
  - *set* data type

- the `type()` function is used to check the data type of something in Python

### Numeric Data Types

- two basic numeric data types
  1. `int`: integers 
  2. `float`: decimal numbers

In [9]:
# create int type variable
x = 7 # 7 is an integer

# check type of variable
type(x)

int

In [10]:
# create float type variable
x = 3.14 # 3.14 is a decimal number with a characteristic and mantissa

# check type of variable
type(x)

float

### Text Sequence Types

- strings are a *text sequence* type
  - they are a sequence of characters
  - they are immutable
  - they are ordered

In [11]:
# define a string 
python_string = 'BMS is awesome!'

# check type 
type(python_string)

str

In [15]:
a = int(input('Enter a number: '))
b = int(input('Enter a number: '))
print(a + b)

Enter a number: 1
Enter a number: 1
2

In [14]:
'1' + '1'

'11'

#### Now that we know how to find out the datatype of variables 

### Excercise : 5

What is the datatype of these three variables : 

- discount = 43.8
- height = 143
- address = '#301, Pelican Street'

### Sequence Types

- there are three kinds of *sequence* types:
  - `list`: mutable sequence
  - `tuple`: immutable sequence
  - `range`: immutable sequence

##### List

In [ ]:
# define a list
list_example = ['3',92,'x',3.14]
print(list_example)

# check length of the list
print(len(list_example))

# check type
type(list_example)

##### Tuple

In [ ]:
# define a tuple
tuple_example = (5,'11','a',2.86)
print(tuple_example)

# check length of tuple
print(len(tuple_example))

# check type
type(tuple_example)

##### Tuple vs List Comparison

|Lists |Tuples |
|------|-------|
|ordered group of comma seperated values in *square brackets* |ordered group of comma seperated values in *parenthesis*   |
|square brackets are mandatory |parenthesis not mandatory |
|mutable |immutable|
|once created, content changes *can* be made | once created, content *cannot* be changed |
|should be chosen if content is not fixed, and keeps changing| chosen if content is fixed and never changes|
| cannot be used as keys for dictionaries  | can be used as keys for dictionaries |
|are *not* hashable and immutable| are hashable and immutable|

#### Let's make something using lists!

### Excercise : 6 

Make a list of your favourite colour, food and place and save it in a list called `my_favs`

##### Range

In [ ]:
# define a range
range_example = range(7)
print(range_example)

# check length of the range
print(len(range_example))

# check type
type(range_example)

In [ ]:
# define range with (start,stop,step)
range_example = range(0,20,2)
print(range_example)

# check length of the range
print(len(range_example))

# check type
type(range_example)

#### Let's get a bit crafty with the range function 

### Excercise : 7

Using the range function from 4 to 40 and then check the length

### Mapping Types

- `dictionary` is a mapping data type
  - it is mutable
  - unordered

In [ ]:
# define a dictionary
b = {'one': 1, 'two': 2, 'three': 3}
print(b)

# check type     
type(b)

#### What can we do with dictionaries ? 

### Excercise : 8 

Make a dictionary with students name and their scores !

- **Student** : Jake **Score** : 70
- **Student** : Mako **Score** : 75 
- **Student** : Alex **Score** : 78.5

### Boolean Types

- state of truth
  - may be `True` or `False`

In [ ]:
# define a 'true' boolean 
boolean = True

# check type
type(boolean)

In [ ]:
# define a 'false' boolean 
boolean = False

# check type
type(boolean)

### Set Types

- `set` is an unordered collection of *distinct* objects

In [ ]:
set_of_numbers = {0,9,1,5,7}
print(set_of_numbers)

In [ ]:
names = ['olivia', 'caleb', 'olivia']
names_set = set(names)
unique_names = list(names_set)
print(unique_names)

# Operators

- popular kinds of operators 
  - `numeric` operators 
  - `comparison` operators
  - `logical` operators 
  - `assignment` operators
  - `idenity` operators
  - `membership` operators
  
- some are discussed below

### Numeric Operators

- used with numeric data types to perform mathematical operations
  - `+`: addition
  - `-`: subtraction
  - `*`: multiplication
  - `/`: division
  - `//`: floor division
  - `%`: modulus (remainder)
  - `**`: raising to power
  - `abs()`: absolute value of number
  - `round()`: rounds a number
  - `bin()`: get binary version of a number
  - `hex()`: get hexadecimal version of a number

In [ ]:
# set values of x, y and z for numeric operators exploration
x = 5   # integer value
y = 2.0 # float value
z = -13 # negative integer

#(run this cell to initialize values for the next few cells!)

In [ ]:
# sum of x and y
print(x + y)

In [ ]:
# difference of x and y
print(x - y)

In [ ]:
# product of x and y
print(x * y)

In [ ]:
# quotient of x and y
print(x / y)

In [ ]:
# floored quotient of x and y
print(x // y)

In [ ]:
# remainder of x / y
print(x % y)

In [ ]:
# absolute value 
print(abs(z))

In [ ]:
# x raised to power y
print(x ** y)

In [ ]:
# rounding a decimal example - round down
print(round(2.1))

In [ ]:
# rounding a decimal example - round up
print(round(3.7))

In [ ]:
# binary version of the number
print(bin(37))

In [ ]:
# hexadecimal version of the number
print(hex(37))

#### Operators are the lifelines of any programming language ,let's put them to good use 

### Excercise : 9 
Create a variable with the value of `pi` as `3.14`, create a new variable as `radius` and assign it a `float` value, this will be the radius of a circle and then output the area of the circle using the formula **pi*radius^2**

In [6]:
pi = 3.14
radius = 3.5
area = pi * radius ** 2
print(area)

38.465

### Comparison Operators

- used to compare two values
  - `<`: less than 
  - `>`: greater than 
  - `<=`: less than or equal to
  - `>=`: greater than or equal to
  - `==`: equality 
  - `!=`: inequality

In [ ]:
# Greater Than 
i = 3 
j = 7

print(i > j)

In [ ]:
# Greater Than or Equal
i = 3 
j = 7

print(i >= j)

In [ ]:
# Less Than 
i = 3 
j = 7

print(i < j)

In [ ]:
# Less Than or Equal 
i = 3 
j = 7

print(i <= j)

In [ ]:
# Equality Test #1
i = 3
j = 7

print(i == j)

In [ ]:
# Equality Test #2
i = 3
j = 3

print(i == j)

In [ ]:
# Inequality Test #1
i = 3
j = 7

print(i != j)

In [ ]:
# Inequality Test #2
i = 3
j = 3

print(i != j)

#### Let's see what comparison operator can do for us 

### Excercise : 10 

In the last excercise you created a program to get the area of a circle , create a print function that checks if the area that your program created is bigger than 50 or not

In [8]:
pi = 3.14
radius = 4.5
area = pi * radius ** 2
print(area)
print(area > 50)

63.585
True

### Logic Operators

- used to combine conditional statements
  - `and` 
  - `or`
  - `not`

##### `not` Operator

In [1]:
##  'not' operator 
a = True

print(not a)

False

In [2]:
b = False
print(not b)

True

![Logic Tables](https://i.imgur.com/42pVFtJ.jpg "Logic Tables")

##### `and` Operator

In [3]:
# a and b are true
a = True 
b = True

print(a and b)

# only a is true 
a = True 
b = False

print(a and b)

# only b is true 
a = False 
b = True

print(a and b)

# a and b are both false
a = False 
b = False

print(a and b)

True
False
False
False

##### `or` Operator

In [4]:
## 'or' operator 

# a and b are true
a = True 
b = True

print(a or b)

# only a is true 
a = True 
b = False

print(a or b)

# only b is true 
a = False 
b = True

print(a or b)

# a and b are both false
a = False 
b = False

print(a or b)

True
True
True
False

#### To be OR not to be ? Let's explore what we can get done using logical operators 

### Excercise : 11 

Create a print function for our circle area generator to check if the area is between 20 `AND` 50

In [11]:
pi = 3.14
radius = 3.5
area = pi * radius ** 2
print(area)
print(area >= 20 and area <= 50)

38.465
True

### Assignment Operators

- used to assign values to variables
  - `=`

- following operators combine numerical operations at the same time as assignment
  - `+=`
  - `-=`
  - `*=`
  - `/=`
  - `//=`
  - `%=`
  - `**=`

In [12]:
# assignment operator 

x = 21
print(x)

21

In [13]:
# += operator

x += 3
print(x)

24

In [14]:
# -= operator

x -= 3
print(x)

21

In [15]:
# *= operator

x *= 3
print(x)

63

In [16]:
# /= operator

x /= 3
print(x)

21.0

In [17]:
# //= operator

x //= 3
print(x)

7.0

In [18]:
# %= operator

x %= 3
print(x)

1.0

In [19]:
5 / 2

2.5

In [20]:
5 // 2

2